body{
    background-color: rgba(127, 255, 212, 0.482);
}


div.main-body {
    display: grid;
    grid-template-columns: minmax(300px , auto)1fr;
    grid-template-areas: "navbar mainContent";
    grid-gap: 20px;
}

nav#navbar {
    grid-area: navbar;
    position: fixed;
}

p{
    font-size: large;
}

li{
    color: crimson;
    font-size: large;
}

b{
    color: rgb(58, 58, 188);
}
nav#navbar a {
    display: block;
    background-color: rgba(88, 173, 189, 0.626);
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0;
    text-decoration: none;
    color: rgb(16, 15, 18);
    font-size: large;
}

main#main-doc {
    grid-area: mainContent;
}

header {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.719);
}

code {
    background-color: rgba(212, 68, 68, 0.442);
    display: block;
    padding: 20px;
}